@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "JetBrains Mono", monospace;
  background: Lavender;
  color: Indigo;
}

h1 {
  padding: 8px;
}

button {
  margin: 8px;
  user-select: none;
}

form {
  display: flex;
  flex-direction: row;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 8px;
  border: 1px solid RebeccaPurple;
  border-radius: 4px;
}

legend {
  padding: 0 8px;
  font-weight: bold;
}

label {
  white-space: nowrap;
  margin: 4px 8px;
  user-select: none;
}

label span {
  display: inline-flex;
  min-width: 80px;
}

label input:disabled + span {
  opacity: 0.5;
}

input[type="number"] {
  border: 1px solid RebeccaPurple;
  border-radius: 4px;
  background: GhostWhite;
  padding: 4px;
  height: 28px;
  font-family: "JetBrains Mono", monospace;
}

input[type="color"] {
  margin: 0;
  padding: 0;
  border: 1px solid RebeccaPurple;
  border-radius: 4px;
}

input:invalid,
input:out-of-range {
  border: 2px solid Tomato;
}

.count.invalid {
  color: Tomato;
}

.error {
  background: Tomato;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  color: White;
  width: fit-content;
}

.error:empty {
  display: none;
}

input:read-only {
  background: transparent;
  border-color: transparent;
  pointer-events: none;
  cursor: default;
  outline: none;
}
