/* Essential */

.Dots {
  height: fit-content;
  overflow: hidden;
  resize: both;
}

.Dots[data-shape="circle"] {
  aspect-ratio: 1;
  resize: vertical;
}

.Dots svg,
.Dots canvas {
  display: block;
}
