/* Error */

.error {
  align-items: center;
  background: Tomato;
  border-radius: 4px;
  color: White;
  display: flex;
  font-size: 16px;
  justify-content: center;
  margin: 16px 0;
  padding: 8px 12px;
  width: fit-content;
}

/* Hide error bar if there is no error message */
.error:has(.error-message:empty) {
  visibility: hidden;
}

/* Prevent width of error bar from “dancing” as number changes */
.error-message {
  font-variant-numeric: tabular-nums;
}
