/* Form elements */

form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

/* Button */

button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  border: none;
  box-shadow: inset 0 0 0 2px DeepPink;
  font-weight: bold;
  background: transparent;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  color: DeepPink;
  margin: 8px;
  user-select: none;
}

button:focus,
button:hover {
  outline: none;
}

button:active {
  transform: translate(0, 2px);
  opacity: 0.75;
}

button {
  display: flex;
  align-items: center;
}

button.primary {
  box-shadow: none;
  background: DeepPink;
  color: GhostWhite;
}

button.primary:focus,
button.primary:hover {
  background: HotPink;
  /* color: DeepPink; */
}

button.secondary {
  box-shadow: none;
  background: transparent;
}

button.secondary:focus,
button.secondary:hover {
  background: rgba(255, 20, 147, 0.2);
  color: DeepPink;
}

.buttons {
  display: flex;
}

.buttons button {
  margin: 16px 4px;
}

/* Fieldset */

fieldset {
  padding: 8px 24px 8px 8px;
  width: 100%;
  margin: 0;
  /* border-top: 2px solid RebeccaPurple; */
  border: none;
  /* border-radius: 4px; */
}

fieldset + fieldset {
  margin-top: 8px;
}

/* Label */

.label-container {
  display: flex;
  flex-direction: column;
}

legend {
  padding: 0 8px 0 8px;
  font-weight: bold;
  color: GhostWhite;
  opacity: 0.5;
}

label {
  white-space: nowrap;
  margin: 2px 0 2px 32px;
  user-select: none;
  display: flex;
  align-items: center;
}

label span {
  display: inline-flex;
  min-width: 80px;
}

label input:disabled + span {
  opacity: 0.5;
}

/* Input */

input[type="number"] {
  border: none;
  border-radius: 4px;
  background: RebeccaPurple;
  padding: 4px 8px;
  height: 28px;
  width: 160px;
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  font-variant-numeric: tabular-nums;
}

input[type="number"]:focus {
  outline: 2px solid Turquoise;
}

input:invalid,
input:out-of-range {
  border: 2px solid Tomato;
}

input[type="number"]:read-only {
  background: transparent;
  border-color: transparent;
  pointer-events: none;
  cursor: default;
  outline: none;
}

/* Toggle */

.toggle {
  display: flex;
  border: 2px solid DeepPink;
  border-radius: 4px;
  overflow: hidden;
  align-self: start;
  margin: 8px 0 0 32px;
}

.toggle label {
  margin: 0;
  cursor: pointer;
  width: fit-content;
  align-self: flex-start;
}

.toggle label span {
  min-width: initial;
}

.toggle:has(input[type="radio"]:focus) {
  /* position: relative; */
  outline: 2px solid Turquoise;
  /* box-shadow: inset 0 0 0 2px Turquoise; */
  /* z-index: 1; */
}

.toggle input + span {
  display: flex;
  padding: 4px 8px;
  align-items: center;
  color: GhostWhite;
}

.toggle label:hover input:not(:checked) + span {
  background: rgba(255, 20, 147, 0.2);
}

.toggle input:checked + span {
  background: DeepPink;
}

/* Color */

input[type="color"] + .color-picker {
  display: inline-flex;
  width: 64px;
  height: 24px;
  border: 2px solid Lavender;
  background: Red;
  border-radius: 4px;
}

input[type="color"]:focus + .color-picker {
  outline: 2px solid Turquoise;
}

/* Input Range */

input[type="range"] {
  width: 160px;
  height: 28px;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: RebeccaPurple;
  border-radius: 2px;
  height: 4px;
}

input[type="range"]::-moz-range-track {
  background-color: RebeccaPurple;
  border-radius: 2px;
  height: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -6px; /* Centers thumb on the track */
  background-color: DeepPink;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  margin-top: -6px; /* Centers thumb on the track */
  background-color: DeepPink;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 2px solid Turquoise;
  outline-offset: 2px;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 2px solid Turquoise;
  outline-offset: 2px;
}

/* Checkbox */

input[type="checkbox"] {
  /* display: none; */
}

input[type="checkbox"]:focus + .switch {
  outline: 2px solid Turquoise;
}

input[type="checkbox"] + .switch {
  display: flex;
  height: calc(24px + 4px);
  width: calc(48px + 4px);
  background: RebeccaPurple;
  border: 2px solid RebeccaPurple;
  border-radius: 999px;
  margin-right: 8px;
  transition: border-color 0.4s, background-color 0.4s;
  cursor: pointer;
}

input[type="checkbox"] + .switch::before {
  content: "";
  display: flex;
  width: calc(24px - 4px);
  height: calc(24px - 4px);
  background: GhostWhite;
  border-radius: 50%;
  border: 2px solid RebeccaPurple;
  transition: border-color 0.4s, background-color 0.4s, transform 0.4s;
}

input[type="checkbox"]:checked + .switch {
  background: DeepPink;
  border-color: DeepPink;
}

input[type="checkbox"]:checked + .switch::before {
  transform: translateX(100%);
  border-color: DeepPink;
}
