/* General */

body {
  font-family: Outfit, sans-serif;
  background: Lavender;
  color: Indigo;
  line-height: 1.5;
  margin: 24px;
}

h1 span {
  text-transform: lowercase;
  font-variant: small-caps;
}
