/* General */

body {
  font-family: Outfit, sans-serif;
  /* background: Lavender; */
  background: GhostWhite;
  color: Indigo;
  line-height: 1.5;
  font-size: 18px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

header {
  padding: 32px;
}

header .Sample {
  margin: 24px;
}

.lead {
  text-align: center;
}

.no-break {
  white-space: nowrap;
}

h1,
h2,
h3 {
  text-align: center;
  line-height: 1;
  margin: 32px 0 16px 0;
}

.contain {
  padding-left: 24px;
  padding-right: 24px;
}

p {
  margin: 16px auto;
  /* width: 100%; */
  max-width: 480px;
}

a {
  color: DeepPink;
}

a:hover {
  color: HotPink;
}

#app {
  width: 100%;
}

main {
  width: 100%;
}

section {
  width: 100%;
}

header,
main,
aside,
footer,
section,
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Screen Readers */

.screen-reader-only:not(fieldset):not(:focus):not(:active),
fieldset.screen-reader-only legend,
input[type="color"],
input[type="radio"],
input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

fieldset.screen-reader-only {
  border: none;
  margin: 0;
  padding: 0;
}

/* Use cases */

aside {
  padding: 32px 0;
  background: GhostWhite;
  color: Indigo;
}

aside .ul-wrapper {
  width: 100%;
  overflow-x: auto;
}

aside ul {
  display: flex;
  /* background: pink; */
  width: fit-content;
  margin: 48px auto;
}

aside ul li {
  width: 33.333vw;
  max-width: 360px;
  min-width: 288px;
  margin: 8px;
  font-size: 16px;
  flex-shrink: 0;
}

aside ul img {
  border-radius: 4px;
  transition: box-shadow 0.2s;
  box-shadow: 0 0 0 2px transparent;
}

aside ul a:hover img {
  box-shadow: 0 0 0 2px DeepPink;
}

aside small {
  opacity: 0.5;
}

/* Footer */

footer {
  padding: 32px 16px;
  background: Indigo;
  color: Lavender;
  font-size: 16px;
  text-align: center;
}

/* Icons */
.feather + span,
.feather + p {
  margin-left: 8px;
}

/* Tool */

#playground #tool {
  border-radius: 4px;
}

#mobile-warning {
  display: none;
}

.sticky-container {
  position: relative;
  width: calc(100% - 96px);
  max-width: 1280px;
  margin: 48px auto;
  background: Indigo;
}
.sticky-element {
  position: -webkit-sticky;
  position: sticky;
  height: 800px;
  background: Transparent;
  color: GhostWhite;
  width: 100%;
  pointer-events: none;
  top: 0;
  z-index: 1;
}

.sticky-element > * {
  pointer-events: all;
}

.scrolling-content {
  position: relative;
  margin-top: -800px;
  top: 0;
  left: 304px;
  background: Lavender;
  width: calc(100% - 304px);
  min-height: 800px;
  height: fit-content;
  overflow-x: auto;
  padding: calc(72px + 48px) 48px;
}

#bar-top {
  position: absolute;
  top: 0;
  left: 304px;
  width: calc(100% - 304px);
  padding: 0 16px;
  height: 72px;
  background: Lavender;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#controls {
  flex-shrink: 0;
  background: Lavender;
  background: Indigo;
  color: GhostWhite;
  overflow-y: auto;
  padding: 16px 0;
  width: 304px;
  height: 800px;
}
