/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Input Range */

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
